<template>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, voluptates possimus sunt eveniet fugit consequatur eum similique voluptas qui asperiores omnis impedit! Tempore praesentium dolore excepturi ratione odio fuga facilis.
  </div>
</template>

<script>
  export default {
    mounted() {
      console.log(this.$route.params.any);
    }
  }
</script>

<style lang="scss" scoped>

</style>