<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Albúm</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Artista</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Genero</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Duración</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">De Música Ligera</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Canción Animal</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Soda Stereo</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Rock en Español</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3:31</td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">De Música Ligera</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Canción Animal</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Soda Stereo</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Rock en Español</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3:31</td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">De Música Ligera</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Canción Animal</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Soda Stereo</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Rock en Español</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3:31</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ArtistSongs"
  }
</script>