<template>
  <div class="flex flex-col min-h-screen">
    <the-header />

    <main class="flex-grow">
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">
            <v-card v-for="item in 6" :key="item.id" />
          </div>
        </div>
      </section>
    </main>

    <the-footer />
  </div>
</template>

<script>
import TheFooter from '../components/TheFooter/TheFooter.vue'
import TheHeader from '../components/TheHeader/TheHeader.vue'
import VCard from '../components/VCard/VCard.vue'

export default {
  components: { TheHeader, TheFooter, VCard },
  name: 'IndexPage'
}
</script>